<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/test.css}" />
</head>

<body>
    <h1 th:text="#{messages.title}">Title</h1>

    <form method="POST" action="/">
        <p th:utext="${welcome}">Welcome !</p>
        <select name="locale">
            <option th:each="l: ${locales}" th:value="${l.language}" th:text="${l.displayCountry}"
                th:selected="${l.language==locale.language}">Locale</option>
        </select>
        <button type="submit" th:text="#{messages.submit}">Submit</button>
    </form>
</body>

</html>